# Исключаем директории и файлы виртуального окружения
venv/
.env

# Исключаем кэш и временные файлы
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.log

# Исключаем файлы и директории конфигурации IDE
.vscode/
.idea/

# Исключаем файлы тестов и покрытий тестов
tests/
coverage/
.coverage
*.cover
*.py,cover

# Исключаем файлы конфигурации CI
.github/
.gitlab-ci.yml

# Исключаем различные системные файлы
.DS_Store
*.rst
*.md

# Исключаем локальные файлы Docker
docker-compose.yml
Dockerfile
.dockerignore

# Исключаем сами git-репозитории и все их содержимое
.git
