venv/
.env

*.sqlite3

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.log

.vscode/
.idea/


# файлы ide pycharm и vs code
.idea/
.vscode/

# Исключаем директории и файлы виртуального окружения
venv/
.env

# Исключаем файлы базы данных SQLite
*.sqlite3

# Исключаем кэш и временные файлы
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.log

# Исключаем файлы и директории конфигурации IDE
.vscode/
.idea/

# Исключаем файлы тестов и покрытий тестов
coverage/
.coverage
*.cover
*.py,cover

# Исключаем файлы конфигурации CI
.github/
.gitlab-ci.yml

# Исключаем системные файлы
.DS_Store

# Исключаем файлы зависимостей pipenv и poetry, если они есть
Pipfile.lock
poetry.lock


# Исключаем сами git-репозитории и все их содержимое
.git

# Исключаем локальные файлы для отладки
data
